{% extends "main.html" %}

{% block css %}
    <style>
        .avatar {
            border-radius: 50%;
        }
    </style>
{% endblock css %}

{% block title %}Личный кабинет Safe-life{% endblock title %}

{% block main %}
    <div class="col-md-8 offset-md-2">
        <h1>Личный кабинет</h1>

        <div class="row justify-content-center mt-4">
            <div class="col-8 col-sm-4 col-lg-3">
                <div class="d-flex flex-column">
                    <!-- Определяем аватар пользователя -->
                    {% if user.profile.avatar %}
                        <img src="{{ user.profile.avatar.url }}" alt="avatar" class="avatar">
                    {% else %}
                        <img src="/static/img/anonymous.png" alt="avatar" class="avatar">
                    {% endif %}

                    <h3 class="text-center">{{ user.username }}</h3>
                </div>
            </div>

            <div class="col-12 col-sm-6 offset-sm-2">
                <div class="mb-3">
                    <label for="email" class="form-label">Электронная почта:</label>
                    <input type="text" readonly class="form-control" id="staticInput" value="{{ user.email }}">
                </div>
            </div>            
        </div>
        
        <div class="row justify-content-center gy-2 mt-4">
            <div class="col-lg-7 col-xl-4">
                <a href="" class="btn btn-outline-main w-100">Отзывы</a>
            </div>

            <div class="col-lg-7 col-xl-4">
                <a href="" class="btn btn-outline-main w-100">Редактировать</a>
            </div>

            <form action="{% url "logout" %}" method="post" class="col-lg-7 col-xl-4">
                {% csrf_token %}
                <button type="submit" class="btn btn-outline-main w-100">Выйти из аккаунта</button>
            </form>
        </div>
    </div>
{% endblock main %}
