{% extends "main.html" %}

{% load django_bootstrap5 %}

{% block title %}Обновить аккаунт Safe-life{% endblock title %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url "account" %}">Личный кабинет</a></li>
    <li class="breadcrumb-item active">Редактирование</li>
{% endblock breadcrumb %}

{% block main %}
    <div class="col-md-8 offset-md-2">
        <h1>Обновить аккаунт</h1>

        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% bootstrap_form form %}

            <div class="row mt-4">
                <div class="col">
                    <a href="{% url "account" %}" class="btn btn-outline-main w-100">Отмена</a>
                </div>
                
                <div class="col">
                    <button type="submit" class="btn btn-main w-100">Обновить</button>
                </div>
            </div>
        </form>
    </div>
{% endblock main %}
