{% extends "main.html" %}

{% block title %}Начать тестирование Safe-Life{% endblock title %}

{% block main %}
    <div class="d-flex flex-column align-items-center">
        <h1>Тест знаний</h1>
        <p class="text-center">
            Для того чтобы узнать свой уровень знаний и найти пробелы в знаниях, вы можете пройти наш тест знаний. Это не займет больше 10 минут.
            Старайтесь долго не думать и отвечайте как знайте. Так вы сможете максимально точно узнать свой уровень знаний и позднее подтянуть проблемные темы.
            <strong>У каждого вопроса есть только один правильный ответ</strong>
        </p>
        <a href="" class="btn btn-main">Начать</a>
    </div>
{% endblock main %}
