{% extends "main.html" %}

{% block css %}
    <style>
        .card-result {
            display: none;
        }
    </style>
{% endblock css %}

{% block title %}Тестирование Safe-Life{% endblock title %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url "start_test" %}">Онлайн тестирование</a></li>
    <li class="breadcrumb-item active">Вопросы</li>
{% endblock breadcrumb %}

{% block main %}
    <div class="d-flex flex-column gap-4">
        {% for question in questions %}
            <!-- Записываем вес вопроса, чтобы потом использовать его в вычислениях на JS -->
            <div class="card question" data-weight="{{ question.weight }}">

                <!-- Текст вопроса -->
                <div class="card-header">
                    <h4 class="ps-1">{{ question.question }}</h3>
                </div>
                
                <!-- Варианты ответа -->
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <!-- Получаем все ответы данного вопроса -->
                        {% for answer in question.answers.all %}
                            <li class="list-group-item answer">
                                <input
                                    class="form-check-input me-1"
                                    type="radio"
                                    name="{{ question.question }}"
                                    value="{{ answer.answer }}"
                                    id="{{ answer.pk }}"
                                    data-correct="{{ answer.is_correct }}"> <!-- Пометка правильного ответа -->
                                <label class="form-check-label stretched-link" for="{{ answer.pk }}">{{ answer.answer }}</label>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endfor %}
        
        <div class="d-flex align-items-center justify-content-center gap-5">
            <button class="btn btn-main" id="check-btn">Проверить</button>

            <div class="card card-result">
                <div class="card-body">
                    <h3>Результат:</h4>

                    <h2 class="text-center">
                        <span id="current-points"></span>
                        /
                        <span id="max-points"></span>
                    </h2>
                </div>
            </div>
        </div>
    </div>
{% endblock main %}

{% block js %}
    <!-- Подключает скрипт меню, поскольку блоки в Django переопределяют родителия, игнорируя его контент в его блоке -->
    <script src="/static/js/menu.js"></script>
    <!-- Подключаем скрипт для логики проверки вопросов -->
     <script src="/static/js/check_test.js"></script>
{% endblock js %}
