/* Переопределение стандартной палитры bootstrap */
:root {
    --bs-primary: #386641;
    --bs-secondary: #6a994e;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.bg-main {
    background-color: var(--bs-primary);
}

.bg-main-light {
    background-color: var(--bs-secondary);
}

.btn-main {
    background-color: var(--bs-primary);
    color: white;
}

.btn-main:hover {
    background-color: var(--bs-secondary);
    color: white;
}
