{% extends "base.html" %}

{% block title %}Safe Life{% endblock title %}

{% block content %}
    <!-- Шапка сайта -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-main">
        <div class="container">
            <!-- Логотип -->
            <a class="navbar-brand" href="{% url "index" %}">Safe-Life</a>
            
            <!-- Иконка "бургерного" меню -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <!-- Меню -->
            <div class="collapse navbar-collapse" id="navbarNav">
                <!-- Метка текущей страницы -->
                <span id="active_page" style="display: none;">{{ id_active_page }}</span>

                <ul class="navbar-nav ms-lg-4 me-auto">
                    <li class="nav-item">
                        <a class="nav-link" id="index" href="{% url "index" %}">Главная</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="articles" href="{% url "list_articles" %}">Статьи</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="about" href="{% url "about" %}">О нас</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="feedback" href="{% url "create_feedback" %}">Обратная связь</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="test" href="{% url "start_test" %}">Онлайн тест</a>
                    </li>
                </ul>

                <!-- Меню аутентификации -->
                <ul class="navbar-nav">
                    {% if user.is_authenticated %}
                        <!-- Если пользователь авторизован -->
                        {% if user.is_staff %}
                            <!-- Если пользователь является админом или персоналом -->
                            <li class="nav-item">
                                <a href="/admin/" class="nav-link">Панель админа</a>
                            </li>
                        {% endif %}

                        <li class="nav-item">
                            <a href="{% url "account" %}" id="account" class="nav-link">Личный кабинет</a>
                        </li>
                    {% else %}
                        <!-- Если пользователь не авторизован -->
                        <li class="nav-item">
                            <a href="{% url "registration" %}" class="nav-link">Регистрация</a>
                        </li>

                        <li class="nav-item">
                            <a href="{% url "login" %}" class="nav-link">Войти</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <!-- Основное содержимое -->
    <main class="container mt-4 flex-grow-1">
        <nav>
            <ol class="breadcrumb">
                {% block breadcrumb %}{% endblock breadcrumb %}
            </ol>
        </nav>

        {% block main %}{% endblock main %}
    </main>

    <!-- Подвал -->
    <footer class="text-white py-4 mt-5 bg-main">
        <div class="container">
            <div class="row d-flex align-items-center">
                <div class="col-md-6">
                    <h5>Safe Life</h5>
                    <p>Ваш надежный источник информации о безопасности.</p>
                </div>
                <div class="col-md-6 text-md-end">
                    <p>Автор: Липатникова Елизавета Вадимовна</p>
                </div>
            </div>
        </div>
    </footer>
{% endblock content %}

{% block js %}
    <script src="/static/js/menu.js"></script>
{% endblock js %}
