{% extends "main.html" %}

{% block title %}{{ article.title }} Safe-Life{% endblock title %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url "list_articles" %}">Статьи</a></li>
    <li class="breadcrumb-item active">{{ article.title }}</li>
{% endblock breadcrumb %}

{% block main %}
    <h1>{{ article.title }}</h1>
    <small>Дата обновления: {{ article.update_at }}</small>
    <div class="mt-3">
        <!-- Вставляем содержимое статьи. По умолчанию Django экранирует html из базы данных, поэтому используем safe фильтр, чтобы обойти это -->
        {{ article.content|safe  }}
    </div>
{% endblock main %}
