{% extends "main.html" %}

{% load utils %}

{% block css %}
    <link rel="stylesheet" href="/static/css/accordion.css">
{% endblock css %}

{% block title %}Статьи Safe-Life{% endblock title %}

{% block breadcrumb %}
    <li class="breadcrumb-item active">Статьи</li>
{% endblock breadcrumb %}

{% block main %}
    <!-- Используем аккордеон для деления статьей на темы -->
    <div class="accordion accordion-theme" id="accordion-topics">
        {% for topic in topics %}
            <div class="accordion-item">
                <!-- Заголовок темы -->
                <h2 class="accordion-header">
                    <button
                        class="accordion-button collapsed"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#{{ topic.id }}"
                    >
                        {{ topic.title }}
                    </button>
                </h2>
                <div
                    id="{{ topic.id }}"
                    class="accordion-collapse collapse"
                    data-bs-parent="#accordion-topics"
                >
                    <div class="accordion-body">
                        <!-- Начинаем в списке навигации перечислять статьи -->
                        <ul class="nav list-group list-group-flush">
                            <!-- Из словаря группированных тем получаем статьи определенной темы -->
                            {% for article in grouped_articles|dict_key:topic %}
                                <li class="nav-item list-group-item list-group-item-action">
                                    <a class="nav-link accordion-link" href="{% url "article" article.id %}">
                                        {{ article.title }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock main %}
