{% extends "main.html" %}

{% load solo_tags %}

{% block title %}Новости Safe-Life{% endblock title %}

{% block breadcrumb %}
    <li class="breadcrumb-item active">Главная</li>
{% endblock breadcrumb %}

{% block main %}
    <!-- Получаем модель главного содержимого и записываем ее под переменной greetings -->
    {% get_solo 'main.IndexContent' as greetings %}

    <!-- Отображение текста приветствия -->
    <p class="text-center">{{ greetings.text }}</p>   

    <!-- Создаем вертикальный контейнер новостей -->
    <div class="d-flex flex-column gap-2 mt-4">
        {% for post in posts %}
            <!-- Центрируем пост по середине с помощью сетки, учитывая различные размеры экрана -->
            <div class="card col-md-8 col-lg-6 offset-md-2 offset-lg-3">

                <!-- Заголовок новости -->
                <div class="card-header bg-main-light text-white">
                    <h3 class="ps-3 mb-0">{{ post.title }}</h3>
                </div>

                <!-- Содержимое -->
                <div class="card-body d-flex flex-column gap-2">
                    <p>{{ post.desc }}</p>
                    {% if post.format_image %}
                        <img src="{{ post.format_image.url }}" class="img-fluid align-self-center" alt="Изображение {{ post.id }}">
                    {% endif %}
                    <small class="text-end">{{ post.created_at }}</small>
                </div>

                
            </div>
        {% endfor %}
    </div>
{% endblock main %}
